<section>
    <section id="css-in-js" data-menu-title="CSS-in-JS" data-markdown>
        ## CSS-in-JS
        > Word of the day: **Component**
    </section>
    <section id="react-components" data-menu-title="React Components">
        <h2>React <span style="color:red;">❤</span> Components</h2>
    </section>
    <section id="js-all-the-things" data-menu-title="JS All The Things!" data-background-image="img/all-the-things.png">
        <h2 style="color:#333;">JS all the things</h2>
        <h3 class="fragment" style="color:#333;">not really ;)</h3>
        <br><br><br><br><br><br>
    </section>
    <section id="whats-wrong-with-css-in-css" data-menu-title="What's wrong with CSS-in-CSS?">
        <h3>What's wrong with "CSS-in-CSS"?</h3>
        <h3 class="fragment">Nothing.</h3>
    </section>
    <section id="you-do-you" data-menu-title="You do you" data-background-image="img/you-do-you.gif" data-background-size="contain"></section>
    <section id="separation-of-concerns">
        <h3>What about "separation of concerns"?</h3>
        <div class="fragment">
            <blockquote>
                “Separation of concerns, not necessarily of technologies”
            </blockquote>
            – <a href="https://twitter.com/WebDevLuke">@WebDevLuke</a>
        </div>
    </section>
    <section id="separation-of-concerns-diagram" data-menu-title="Separation of Concerns" data-background-image="img/separation-of-concerns.jpg" data-background-color="white" data-background-size="60%"></section>
    <section id="inline-styles">
        <h2>Aren't inline styles bad?</h2>
        <h3 class="fragment">Pretty much.</h3>
        <div class="fragment">
            <h3>"CSS-in-JS" <code>≠</code> "inline styles"</h3>
            <p>Read this: <a href="https://mxstbr.blog/2016/11/inline-styles-vs-css-in-js/">Writing your styles in JS ≠ writing inline styles</a></p>
        </div>
    </section>
    <section id="css-in-js-trends" data-menu-title="CSS-in-JS Trends" data-background-image="img/npm-trends-css-in-js.png" data-background-color="white" data-background-size="70%"></section>
    <section id="css-in-js-choices" data-menu-title="CSS-in-JS Choices" data-background-iframe="https://michelebertoli.github.io/css-in-js/" data-markdown>
        [open](https://michelebertoli.github.io/css-in-js/)
    </section>
    <section id="web-components" data-menu-title="Web Components">
        <h2>Everyone <span style="color:red;">❤</span> <a href="https://developer.mozilla.org/en-US/docs/Web/Web_Components"><i>Web</i> Components</a></h2>
    </section>
    <section id="web-component-style" data-menu-title="Web Component CSS-in-JS" data-background-image="img/web-component-style.svg" data-background-color="white" data-background-size="50%"></section>
    <section id="live-demos" data-menu-title="Live Demos" data-markdown>
        ### In-browser Live Demos
        - [emotion](https://emotion.sh/docs/css)
        - [styled-components](https://www.styled-components.com/)
        - [aphrodite](https://output.jsbin.com/qoseye?code=%7B%0A%20%20%22red%22%3A%20%7B%0A%20%20%20%20%22backgroundColor%22%3A%20%22red%22%0A%20%20%7D%0A%7D)
    </section>
</section>
