<div class="reveal">
	<div class="slides">
		<section id="title" data-background-image="img/css.gif">
			<h3>You Cannot Spell "Success" Without CSS</h3>
			<p>An exploratory venture into modern CSS and the ecosystem that supports it</p>
			<br /> <a href="https://twitter.com/@jhwohlgemuth">by Jason Wohlgemuth</a>
		</section>
		<section id="whoami" data-markdown data-menu-title="Who am I?" data-transition="convex">
			<script type="text/template">
				`whoami`
				##### Jason Wohlgemuth
				<img src="img/profile.jpg" class="img-circle img-responsive img-center profile" />
				<br /> [
				<i class="fa fa-twitter" aria-hidden="true"></i>/@jhwohlgemuth](https://twitter.com/@jhwohlgemuth)&nbsp;&nbsp;&nbsp;[<i class="fa fa-github" aria-hidden="true"></i>/jhwohlgemuth](https://github.com/jhwohlgemuth)<br />
			</script>
		</section>
		<section id="work-at-bae" data-menu-title="5AD" data-background-color="#BAE" data-markdown>
			# I work at `#BAE`
		</section>
		<section id="write-code" data-markdown data-menu-title="What do I do?" data-background-image="img/coding.gif" data-background-size="contain" data-transition="convex" data-markdown>
			#i write code
		</section>
		<section id="css-is-awesome" data-menu-title="CSS is Awesome" data-background-image="img/css-is-awesome.png" data-background-size="60%" data-background-color="white"></section>
		<section id="color-of-sadness" data-menu-title="CSS can make you 5AD" data-background-color="#5AD">
			<h1 style="color:white;">CSS can make you <code>#5AD</code></h1>
		</section>
		<section id="css-can-be-rad" data-menu-title="CSS can be 2AD" data-background-color="#2AD">
			<h1 style="color:white;">CSS can be <code>#2AD</code></h1>
		</section>
		<section id="questions" data-menu-title="Questions to answer">
			<h1>Questions</h1>
			<h3 class="fragment">What CSS <i>can</i> I use?</h3>
			<h3 class="fragment">What CSS <i>should</i> I use?</h3>
			<h3 class="fragment"><i>How</i> should I develop CSS?</h3>
			<h3 class="fragment">What is CSS-in-JS?</h3>
		</section>
		<% include what-css-can-I-use %>
		<% include css-pun-lego %>
		<% include what-css-should-I-use %>
		<% include css-pun-titantic %>
		<% include css-tooling %>
		<% include css-pun-wife %>
		<% include string-template-literals %>
		<% include css-in-js %>
		<% include css-pun-muscle %>
		<section id="references" data-background="img/web-surfing-time.gif" data-background-size="contain">
			<h3>References</h3>
			<div style="padding:20px;background-color:rgba(0,0,0,0.8);border-radius:20px;">
				<ul>
					<li><a href="https://jonathantneal.github.io/cssdb">What's next for CSS?</a></li>
					<li><a href="https://caniuse.com">Can I use _____</a></li>
					<li><a href="https://specificity.keegan.st">CSS specificity calculator</a></li>
					<li><a href="http://apps.workflower.fi/vocabs/css/en">CSS Vocabulary</a></li>
					<li><a href="https://cssguidelin.es/">CSS Guidelines</a></li>
					<li><a href="http://michelebertoli.github.io/css-in-js/">CSS in JS comparison table</a></li>
					<li><a href="https://hackernoon.com/all-you-need-to-know-about-css-in-js-984a72d48ebc">All You Need to Know About CSS-in-JS</a></li>
					<li><a href="https://mxstbr.blog/2016/11/inline-styles-vs-css-in-js/">Writing your styles in JS ≠ writing inline styles</a></li>
					<li><a href="https://saijogeorge.com/css-puns/">CSS Puns</a></li>
					<li><a href="http://bada55.io">bada55.io</a></li>
				</ul>
			</div>
		</section>
	</div>
</div>
