<section>
    <section id="what-css-can-I-use" data-menu-title="What CSS can I use?" data-background-iframe="https://caniuse.com"></section>
    <section id="tip-browser-support" data-menu-title="Tip #1 – Verify Browser Support" data-markdown>
        ### Tip #1
        > Verify browser support with [caniuse.org](https://caniuse.com/#home)
    </section>
    <section id="tip-avoid-browser-specific-features" data-menu-title="Tip #2 – Avoid Browser-specific" data-markdown>
        ### Tip #2
        > Avoid Browser-specific Features
    </section>
    <section id="tip-avoid-not-enabled" data-menu-title="Tip #3 – Avoid Not Enabled" data-markdown>
        ### Tip #3
        > Avoid features disabled by default
    </section>
    <section id="failure-trifecta" data-menu-title="Example – Triple bad" data-background-iframe="https://caniuse.com/#search=scoped"></section>
    <section id="tip-avoid-import" data-menu-title="Tip #4 – Avoid @import" data-markdown>
        ### Tip #4
        > [Avoid `@import`](http://www.stevesouders.com/blog/2009/04/09/dont-use-import/)
    </section>
    <section id="tip-hack-specificity" data-menu-title="Tip #5 – Hack specificity" data-markdown>
        ### Tip #5
        > Hack specificity with redundant chained classes

        (debug only)
    </section>
    <section id="hack-specificity-example" data-menu-title="Example – Hack specificity" data-background-image="img/hack-specificity.svg" data-background-color="white" data-background-size="60%"></section>
</section>
