<section>
    <section id="what-css-should-I-use" data-menu-title="What CSS should I use?" data-background-iframe="https://jonathantneal.github.io/cssdb/" data-background-color="white"></section>
    <section id="css-stages">
        <h3>CSS <a href="https://jonathantneal.github.io/cssdb/#staging-process">Stages</a></h3>
        <table class="stretch">
            <tr class="fragment">
                <td>0</td>
                <td>Aspirational</td>
                <td>“Is my crazy idea.”</td>
            </tr>
            <tr class="fragment">
                <td>1</td>
                <td>Enthusiastic</td>
                <td>“Is a crazy idea.”</td>
            </tr>
            <tr class="fragment">
                <td>2</td>
                <td>Experimental</td>
                <td>“Might not be crazy.”</td>
            </tr>
            <tr class="fragment">
                <td>3</td>
                <td>Allowable</td>
                <td>“Is not crazy.”</td>
            </tr>
            <tr class="fragment">
                <td>4</td>
                <td>Embraced</td>
                <td>“Is becoming part of the web.”</td>
            </tr>
            <tr class="fragment">
                <td>5</td>
                <td>Standardized</td>
                <td>“Is part of the web.”</td>
            </tr>
        </table>
    </section>
    <section id="tip-never-use-important" data-menu-title="Tip #6 – Never use !important" data-markdown>
        ### Tip #6
        > Never use `!important`
    </section>
    <section id="tip-prefer-classes" data-menu-title="Tip #7 – Prefer classes" data-markdown>
        ### Tip #7
        > Prefer classes

        - ids are not re-useable
        - ids should be unique, classes can be "composed"
        - Handle specificity with nesting, scope, components, etc...
    </section>
    <section id="tip-have-standards" data-menu-title="Tip #8 – Have standards" data-markdown>
        ### Tip #8
        > Have standards

        (see [stylelint](https://stylelint.io/))
    </section>
    <section id="tip-have-a-plan" data-menu-title="Tip #9 – Have a plan" data-markdown>
        ### Tip #9
        > Have a plan

        (and apply [architectural principles](https://cssguidelin.es/#architectural-principles))
    </section>
    <section id="tip-create-a-styleguide" data-menu-title="Tip #10 – Create a Styleguide" data-markdown>
        ### Tip #10
        > Create a style guide

        **Bonus**: Create a *living* style guide
    </section>
    <section id="bonus-living-styleguide" data-menu-title="Bonus – Living Styleguide" data-markdown>
        ### Bonus – Use [mdcss](https://github.com/jonathantneal/mdcss)
    </section>
    <section id="mdcss-header-example" data-menu-title="Example – mdcss">
        <pre><code class="css">
    /*---
    title:   Links
    section: Base CSS
    ---
    ```example:html
    <a href="#">This is a sample link</a>
    <a href="#">This is another sample link</a>
    <a href="#">This is a third sample link</a>
    ```
    */
        </code></pre>
    </section>
</section>
